@use '../SCSS/scss/' as *;

.menu-container {
  @include flex(center, space-between);
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;

  .left-section {
    @include flex(center, flex-start);

    .logo {
      width: 100px;
      height: auto;
      margin-right: 20px;
    }
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;

    #toggle {
      font-size: 20px;
      cursor: pointer;
      //margin-left: auto;
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }

    nav {
      display: flex;
      align-items: center;
      flex-grow: 1;

      &.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: white;
        z-index: 1;
      }

      @media (max-width: 768px) {
        display: none;

        //toogle
        &.open {
          display: block;
        }
      }

      .menu {
        @include flex(center, flex-start);
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-right: 1px;

          a {
            color: $txt-color;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #f0f0f0;
            }
          }
        }

        @media (max-width: 768px) {
          flex-direction: column;
          text-align: center;
          width: 100%;

          li {
            margin: 10px 0;
          }
        }
      }

      .right-section {
        @include flex(center, flex-end);

        i {
          font-size: 24px;
          color: $black;
          cursor: pointer;
        }

        @media (max-width: 768px) {
          text-align: center;
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}