.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-container {
  width: 100%;
  background-color: #f8f9fa; /* Example background color */
  padding: 20px 0; /* Padding for top and bottom */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-list {
  width: 30%; /* Adjust width as needed */
  margin-bottom: 20px;
}

.contact-list h5 {
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-list p {
  margin: 5px 0;
}

.email-contact {
  display: flex;
}

.email-contact input {
  flex: 1;
  margin-right: 10px;
}
.dienthoai{
   
    margin-right: 160px;
}
