.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.welcome-image {
  height: 200px;
  width: auto;


}

@media (max-width: 768px) {
  .welcome-image {
    height: 150px;
    margin: 2px;
  }

  .welcome-banner {
    height: 200px; // Thu nhỏ kích thước banner cho màn hình nhỏ
  }
}

@media (max-width: 480px) {
  .welcome-image {
    height: 100px;
    margin: 1px;
  }

  .welcome-banner {
    height: 150px; // Thu nhỏ hơn kích thước banner cho màn hình rất nhỏ
  }
}

.body-admin {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}